*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: black;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #b1aeae;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    position: relative;
}
.navbar-menu{
    display: flex;
    align-items: center;
 
    gap: 30px;
}
.navbar .navbar-menu li {
 
    list-style: none;
   
}
.navbar .navbar-menu li a {
    text-decoration: none;
   
}
.menu-icon{
    display: none;
}
.menu-icon img{
    
    font-size: 20px;
   
}
@media (max-width:600px) {
    .navbar-menu{
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        max-height: 0;
        overflow: hidden;
        cursor: pointer;
       
        
    }
    .navbar-menu.show{
        max-height: 300px;
        
      
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    #menu{
        transition: all .5s;
    }
}